In [ ]:
#DATA WRANGLING

In [1]:
#Code task 1#
#Import pandas, matplotlib.pyplot

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import os

#from library.sb_utils import save_file

In [3]:
#Loading data
# the supplied CSV data/accepted_2007_to_2018q4 file is the  directory
accept_data = pd.read_csv('../data/accepted_2007_to_2018q4/accepted_2007_to_2018Q4.csv')

In [4]:
accept_data.info

<bound method DataFrame.info of                                                        id  member_id  \
0                                                68407277        NaN
1                                                68355089        NaN
2                                                68341763        NaN
3                                                66310712        NaN
4                                                68476807        NaN
...                                                   ...        ...
2260696                                          88985880        NaN
2260697                                          88224441        NaN
2260698                                          88215728        NaN
2260699  Total amount funded in policy code 1: 1465324575        NaN
2260700   Total amount funded in policy code 2: 521953170        NaN

         loan_amnt  funded_amnt  funded_amnt_inv        term  int_rate  \
0           3600.0       3600.0           3600.0   36 months     13.99
1          24700.0      24700.0          24700.0   36 months     11.99
2          20000.0      20000.0          20000.0   60 months     10.78
3          35000.0      35000.0          35000.0   60 months     14.85
4          10400.0      10400.0          10400.0   60 months     22.45
...            ...          ...              ...         ...       ...
2260696    40000.0      40000.0          40000.0   60 months     10.49
2260697    24000.0      24000.0          24000.0   60 months     14.49
2260698    14000.0      14000.0          14000.0   60 months     14.49
2260699        NaN          NaN              NaN         NaN       NaN
2260700        NaN          NaN              NaN         NaN       NaN

         installment grade sub_grade  ... hardship_payoff_balance_amount  \
0             123.03     C        C4  ...                            NaN
1             820.28     C        C1  ...                            NaN
2             432.66     B        B4  ...                            NaN
3             829.90     C        C5  ...                            NaN
4             289.91     F        F1  ...                            NaN
...              ...   ...       ...  ...                            ...
2260696       859.56     B        B3  ...                            NaN
2260697       564.56     C        C4  ...                            NaN
2260698       329.33     C        C4  ...                            NaN
2260699          NaN   NaN       NaN  ...                            NaN
2260700          NaN   NaN       NaN  ...                            NaN

        hardship_last_payment_amount disbursement_method  \
0                                NaN                Cash
1                                NaN                Cash
2                                NaN                Cash
3                                NaN                Cash
4                                NaN                Cash
...                              ...                 ...
2260696                          NaN                Cash
2260697                          NaN                Cash
2260698                          NaN                Cash
2260699                          NaN                 NaN
2260700                          NaN                 NaN

         debt_settlement_flag debt_settlement_flag_date settlement_status  \
0                           N                       NaN               NaN
1                           N                       NaN               NaN
2                           N                       NaN               NaN
3                           N                       NaN               NaN
4                           N                       NaN               NaN
...                       ...                       ...               ...
2260696                     N                       NaN               NaN
2260697                     Y                  Mar-2019            ACTIVE
2260698                     N                       NaN               NaN
2260699                   NaN                       NaN               NaN
2260700                   NaN                       NaN               NaN

        settlement_date settlement_amount settlement_percentage  \
0                   NaN               NaN                   NaN
1                   NaN               NaN                   NaN
2                   NaN               NaN                   NaN
3                   NaN               NaN                   NaN
4                   NaN               NaN                   NaN
...                 ...               ...                   ...
2260696             NaN               NaN                   NaN
2260697        Mar-2019           10000.0                 44.82
2260698             NaN               NaN                   NaN
2260699             NaN               NaN                   NaN
2260700             NaN               NaN                   NaN

        settlement_term
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
...                 ...
2260696             NaN
2260697             1.0
2260698             NaN
2260699             NaN
2260700             NaN

[2260701 rows x 151 columns]>

In [5]:
accept_data.shape

(2260701, 151)

In [6]:
accept_data.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260664e+06,2.258957e+06,2.260639e+06,2.260668e+06,...,10917.0,10917.000000,10917.0,10917.000000,8651.000000,10917.000000,10917.000000,34246.000000,34246.000000,34246.000000
mean,NaN,1.504693e+04,1.504166e+04,1.502344e+04,1.309283e+01,4.458068e+02,7.799243e+04,1.882420e+01,3.068792e-01,6.985882e+02,...,3.0,155.045981,3.0,13.743886,454.798089,11636.883942,193.994321,5010.664267,47.780365,13.191322
std,NaN,9.190245e+03,9.188413e+03,9.192332e+03,4.832138e+00,2.671735e+02,1.126962e+05,1.418333e+01,8.672303e-01,3.301038e+01,...,0.0,129.040594,0.0,9.671178,375.385500,7625.988281,198.629496,3693.122590,7.311822,8.159980
min,NaN,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,6.100000e+02,...,3.0,0.640000,3.0,0.000000,1.920000,55.730000,0.010000,44.210000,0.200000,0.000000
25%,NaN,8.000000e+03,8.000000e+03,8.000000e+03,9.490000e+00,2.516500e+02,4.600000e+04,1.189000e+01,0.000000e+00,6.750000e+02,...,3.0,59.440000,3.0,5.000000,175.230000,5627.000000,44.440000,2208.000000,45.000000,6.000000
50%,NaN,1.290000e+04,1.287500e+04,1.280000e+04,1.262000e+01,3.779900e+02,6.500000e+04,1.784000e+01,0.000000e+00,6.900000e+02,...,3.0,119.140000,3.0,15.000000,352.770000,10028.390000,133.160000,4146.110000,45.000000,14.000000
75%,NaN,2.000000e+04,2.000000e+04,2.000000e+04,1.599000e+01,5.933200e+02,9.300000e+04,2.449000e+01,0.000000e+00,7.150000e+02,...,3.0,213.260000,3.0,22.000000,620.175000,16151.890000,284.190000,6850.172500,50.000000,18.000000
max,NaN,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.100000e+08,9.990000e+02,5.800000e+01,8.450000e+02,...,3.0,943.940000,3.0,37.000000,2680.890000,40306.410000,1407.860000,33601.000000,521.350000,181.000000

In [7]:
accept_data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [8]:
accept_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#The output above displayed that there are a missing value in some columns
#Count the number of missing values in each column and sort them.

In [9]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#accept_data as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([accept_data.isnull().sum(), 100 * accept_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count', ascending=False)

                                              count           %
member_id                                   2260701  100.000000
orig_projected_additional_accrued_interest  2252050   99.617331
hardship_end_date                           2249784   99.517097
hardship_start_date                         2249784   99.517097
hardship_type                               2249784   99.517097
...                                             ...         ...
policy_code                                      33    0.001460
revol_bal                                        33    0.001460
fico_range_high                                  33    0.001460
fico_range_low                                   33    0.001460
id                                                0    0.000000

[151 rows x 2 columns]

In [10]:
pct_null = accept_data.isnull().sum() / len(accept_data)
pct_null = pct_null[pct_null > 0.80]
missing_feature_80pct = pct_null.index
missing_feature_80pct

Index(['member_id', 'desc', 'mths_since_last_record', 'annual_inc_joint',
       'dti_joint', 'verification_status_joint', 'revol_bal_joint',
       'sec_app_fico_range_low', 'sec_app_fico_range_high',
       'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'hardship_type',
       'hardship_reason', 'hardship_status', 'deferral_term',
       'hardship_amount', 'hardship_start_date', 'hardship_end_date',
       'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
       'hardship_loan_status', 'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object')

In [11]:
len(missing_feature_80pct)

39

In [12]:
clean_data = accept_data.drop(missing_feature_80pct, axis=1)
clean_data.shape

(2260701, 112)

In [13]:
clean_data.info

<bound method DataFrame.info of                                                        id  loan_amnt  \
0                                                68407277     3600.0
1                                                68355089    24700.0
2                                                68341763    20000.0
3                                                66310712    35000.0
4                                                68476807    10400.0
...                                                   ...        ...
2260696                                          88985880    40000.0
2260697                                          88224441    24000.0
2260698                                          88215728    14000.0
2260699  Total amount funded in policy code 1: 1465324575        NaN
2260700   Total amount funded in policy code 2: 521953170        NaN

         funded_amnt  funded_amnt_inv        term  int_rate  installment  \
0             3600.0           3600.0   36 months     13.99       123.03
1            24700.0          24700.0   36 months     11.99       820.28
2            20000.0          20000.0   60 months     10.78       432.66
3            35000.0          35000.0   60 months     14.85       829.90
4            10400.0          10400.0   60 months     22.45       289.91
...              ...              ...         ...       ...          ...
2260696      40000.0          40000.0   60 months     10.49       859.56
2260697      24000.0          24000.0   60 months     14.49       564.56
2260698      14000.0          14000.0   60 months     14.49       329.33
2260699          NaN              NaN         NaN       NaN          NaN
2260700          NaN              NaN         NaN       NaN          NaN

        grade sub_grade                    emp_title  ... percent_bc_gt_75  \
0           C        C4                      leadman  ...              0.0
1           C        C1                     Engineer  ...              7.7
2           B        B4                 truck driver  ...             50.0
3           C        C5  Information Systems Officer  ...              0.0
4           F        F1          Contract Specialist  ...             60.0
...       ...       ...                          ...  ...              ...
2260696     B        B3              Vice President   ...             50.0
2260697     C        C4              Program Manager  ...             40.0
2260698     C        C4  Customer Service Technician  ...             50.0
2260699   NaN       NaN                          NaN  ...              NaN
2260700   NaN       NaN                          NaN  ...              NaN

        pub_rec_bankruptcies  tax_liens tot_hi_cred_lim total_bal_ex_mort  \
0                        0.0        0.0        178050.0            7746.0
1                        0.0        0.0        314017.0           39475.0
2                        0.0        0.0        218418.0           18696.0
3                        0.0        0.0        381215.0           52226.0
4                        0.0        0.0        439570.0           95768.0
...                      ...        ...             ...               ...
2260696                  0.0        0.0         55970.0           28398.0
2260697                  1.0        0.0         84664.0           62426.0
2260698                  0.0        0.0        163804.0           44215.0
2260699                  NaN        NaN             NaN               NaN
2260700                  NaN        NaN             NaN               NaN

        total_bc_limit total_il_high_credit_limit hardship_flag  \
0               2400.0                    13734.0             N
1              79300.0                    24667.0             N
2               6200.0                    14877.0             N
3              62500.0                    18000.0             N
4              20300.0                    88097.0             N
...                ...                        ...           ...
2260696        12300.0                    42670.0             N
2260697        20700.0                    58764.0             N
2260698         9500.0                    34169.0             N
2260699            NaN                        NaN           NaN
2260700            NaN                        NaN           NaN

        disbursement_method debt_settlement_flag
0                      Cash                    N
1                      Cash                    N
2                      Cash                    N
3                      Cash                    N
4                      Cash                    N
...                     ...                  ...
2260696                Cash                    N
2260697                Cash                    Y
2260698                Cash                    N
2260699                 NaN                  NaN
2260700                 NaN                  NaN

[2260701 rows x 112 columns]>

In [14]:
clean_data.columns

Index(['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title',
       ...
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'hardship_flag', 'disbursement_method',
       'debt_settlement_flag'],
      dtype='object', length=112)

In [15]:
clean_data.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260664e+06,2.258957e+06,2.260639e+06,2.260668e+06,2.260668e+06,...,2.190392e+06,2.190392e+06,2.190237e+06,2.185289e+06,2.259303e+06,2.260563e+06,2.190392e+06,2.210638e+06,2.210638e+06,2.190392e+06
mean,1.504693e+04,1.504166e+04,1.502344e+04,1.309283e+01,4.458068e+02,7.799243e+04,1.882420e+01,3.068792e-01,6.985882e+02,7.025884e+02,...,8.293767e-02,2.076755e+00,9.411458e+01,4.243513e+01,1.281935e-01,4.677109e-02,1.782428e+05,5.102294e+04,2.319377e+04,4.373201e+04
std,9.190245e+03,9.188413e+03,9.192332e+03,4.832138e+00,2.671735e+02,1.126962e+05,1.418333e+01,8.672303e-01,3.301038e+01,3.301124e+01,...,4.935732e-01,1.830711e+00,9.036140e+00,3.621616e+01,3.646130e-01,3.775338e-01,1.815748e+05,4.991124e+04,2.300656e+04,4.507298e+04
min,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,6.100000e+02,6.140000e+02,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.000000e+03,8.000000e+03,8.000000e+03,9.490000e+00,2.516500e+02,4.600000e+04,1.189000e+01,0.000000e+00,6.750000e+02,6.790000e+02,...,0.000000e+00,1.000000e+00,9.130000e+01,0.000000e+00,0.000000e+00,0.000000e+00,5.073100e+04,2.089200e+04,8.300000e+03,1.500000e+04
50%,1.290000e+04,1.287500e+04,1.280000e+04,1.262000e+01,3.779900e+02,6.500000e+04,1.784000e+01,0.000000e+00,6.900000e+02,6.940000e+02,...,0.000000e+00,2.000000e+00,1.000000e+02,3.750000e+01,0.000000e+00,0.000000e+00,1.142985e+05,3.786400e+04,1.630000e+04,3.269600e+04
75%,2.000000e+04,2.000000e+04,2.000000e+04,1.599000e+01,5.933200e+02,9.300000e+04,2.449000e+01,0.000000e+00,7.150000e+02,7.190000e+02,...,0.000000e+00,3.000000e+00,1.000000e+02,7.140000e+01,0.000000e+00,0.000000e+00,2.577550e+05,6.435000e+04,3.030000e+04,5.880425e+04
max,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.100000e+08,9.990000e+02,5.800000e+01,8.450000e+02,8.500000e+02,...,5.800000e+01,3.200000e+01,1.000000e+02,1.000000e+02,1.200000e+01,8.500000e+01,9.999999e+06,3.408095e+06,1.569000e+06,2.118996e+06

In [16]:
clean_data.dtypes

id                             object
loan_amnt                     float64
funded_amnt                   float64
funded_amnt_inv               float64
term                           object
                               ...
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                  object
disbursement_method            object
debt_settlement_flag           object
Length: 112, dtype: object

In [17]:
clean_data.select_dtypes(exclude=np.number)

,id,term,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,...,addr_state,earliest_cr_line,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,hardship_flag,disbursement_method,debt_settlement_flag
0,68407277,36 months,C,C4,leadman,10+ years,MORTGAGE,Not Verified,Dec-2015,Fully Paid,...,PA,Aug-2003,w,Jan-2019,NaN,Mar-2019,Individual,N,Cash,N
1,68355089,36 months,C,C1,Engineer,10+ years,MORTGAGE,Not Verified,Dec-2015,Fully Paid,...,SD,Dec-1999,w,Jun-2016,NaN,Mar-2019,Individual,N,Cash,N
2,68341763,60 months,B,B4,truck driver,10+ years,MORTGAGE,Not Verified,Dec-2015,Fully Paid,...,IL,Aug-2000,w,Jun-2017,NaN,Mar-2019,Joint App,N,Cash,N
3,66310712,60 months,C,C5,Information Systems Officer,10+ years,MORTGAGE,Source Verified,Dec-2015,Current,...,NJ,Sep-2008,w,Feb-2019,Apr-2019,Mar-2019,Individual,N,Cash,N
4,68476807,60 months,F,F1,Contract Specialist,3 years,MORTGAGE,Source Verified,Dec-2015,Fully Paid,...,PA,Jun-1998,w,Jul-2016,NaN,Mar-2018,Individual,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,88985880,60 months,B,B3,Vice President,9 years,MORTGAGE,Verified,Oct-2016,Current,...,CA,Feb-1995,f,Mar-2019,Apr-2019,Mar-2019,Individual,N,Cash,N
2260697,88224441,60 months,C,C4,Program Manager,6 years,RENT,Not Verified,Oct-2016,Charged Off,...,FL,Jul-1999,f,Oct-2017,NaN,Mar-2019,Individual,N,Cash,Y
2260698,88215728,60 months,C,C4,Customer Service Technician,10+ years,MORTGAGE,Verified,Oct-2016,Current,...,TX,Jun-1996,w,Mar-2019,Apr-2019,Mar-2019,Individual,N,Cash,N
2260699,Total amount funded in policy code 1: 1465324575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,Total amount funded in policy code 2: 521953170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
print(clean_data['application_type'].unique())

['Individual' 'Joint App' nan]

In [19]:
print((clean_data['application_type'] == 'Individual').sum()/len(clean_data))

0.9465904602156587

In [20]:
print((clean_data['application_type'] == 'Joint App').sum()/len(clean_data))

0.05339494254215838

In [ ]:
#We have about 95% indivisual loans and 0.5% joint. There is an identical data in this column
# we can get rid of it

In [21]:
clean_data.drop('application_type', axis=1, inplace=True)

In [22]:
print(clean_data['disbursement_method'].unique())

['Cash' nan 'DirectPay']

In [23]:
print((clean_data['disbursement_method'] == 'Cash').sum()/len(clean_data))

0.9654288647636287

In [24]:
print((clean_data['disbursement_method'] == 'DirectPay').sum()/len(clean_data))

0.03455653799418853

In [25]:
print(clean_data['emp_title'].unique()

['leadman' 'Engineer' 'truck driver' ... 'Sr. Photo Producer'
 'Exec Dir Internal Audit' 'Current Operations Officer']

In [26]:
print(clean_data['url'].unique())

['https://lendingclub.com/browse/loanDetail.action?loan_id=68407277'
 'https://lendingclub.com/browse/loanDetail.action?loan_id=68355089'
 'https://lendingclub.com/browse/loanDetail.action?loan_id=68341763' ...
 'https://lendingclub.com/browse/loanDetail.action?loan_id=88985880'
 'https://lendingclub.com/browse/loanDetail.action?loan_id=88224441'
 'https://lendingclub.com/browse/loanDetail.action?loan_id=88215728']

In [27]:
len(clean_data['url'].unique())

2260669

In [ ]:
# There is no valueable information we can use for analysis in 
# disbursement_method , emp_title, url columns. We can drop them

In [28]:
clean_data.drop(['url', 'disbursement_method', 'emp_title'], axis=1, inplace=True)

In [29]:
clean_data.shape

(2260701, 108)